/* Remove height: 100% from .navbar */
.navbar {
    font-size: medium;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    /* height: 100%; */ /* Remove this line */
}

/* Remove transform and position properties from .container */
.container {
    text-align: center;
    /* top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    position: absolute; */ /* Remove these lines */
}
.name{
    align-items: center;
}
/* Remove display: flex from body */
/* body {
    display: flex; 
    justify-content: center;
    align-items: center;
} */
.box1{
    padding: 10px 0%;
    width: 400%;
    background-color: #333;
}
.box2 {
    padding: 10px 0%;
    width: 400%;
    background-color: #333;
}
.box3{
    padding: 10px 0%;
    width: 400%;
    background-color: #333;
}

.box4{
    padding: 10px 0%;
    width: 400%;
    background-color: #333;

}
        .container1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex; 
            justify-content: center;
            align-items: center;
            /* text-decoration: none; */
        }
        body{
        width: 100%;
        height: 100vh;
        background-image: url("https://img.freepik.com/free-photo/top-view-agenda-glasses-pencil_23-2148459513.jpg?w=900&t=st=1694479692~exp=1694480292~hmac=9b69c0b8934e763863d594583d74f3ba05291c75ba9e42d0acb0b8844833e0f2");
        background-size:cover;
        /* background-repeat: no-repeat; */
        /* overflow: hidden; */
        }

        .homeAbout {
            background-color: #333;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px; /* Adjust the padding */
        }
        
        .homeAbout a {
            color: #fff;
            margin: 0 5px;
            font-size: 18px; /* Adjust the font size */
            padding: 6px 12px; /* Adjust the padding */
            border-radius: 15px;
            text-decoration: none;
        }
        
        .homeAbout a:hover {
            background-color: #555; /* Optional: Change background color on hover */
        }

        #aboutMe ,.title{
       color: #fff;
       text-align: center;
       font-size: large;
       font-family: 'Times New Roman', Times, serif;
        }
        /* .title{
            color: #fff;
            text-align: center;
            font-size: large; */
             /* } */

            .codingPortals img{
                /* display: inline; */
                width: 120px;  /* Set the desired width */
                height: 110px; /* Set the desired height */
                object-fit: cover; 
                padding: 20px;
                /* Ensure the image scales 
                
                nicely */
            }
            .codingPortals{
                justify-content: center;
                align-items: center;
                display: flex;
            }
     